<?xml version="1.0" ?>
<model>
    <name>wheelchairButton</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Joseph Ojo</name>
        <email>joe@reindeere.ca</email>
    </author>
    <description>A simulation description format for a wheelchair door button.</description>
</model>
